.containerAllRecipes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .containerAllRecipes {
    display: flex;
    flex-direction: column;
  }
}
