form {
  z-index: 2;
  position: absolute;
  width: 90%;
  max-width: 500px;
  padding: 5px;
  margin: auto;
  top: 10%;
  left: 50%;
  transform: translate(-50%, 3%);
  background-color: #f3f3f3;
  background-image: url("../assets/lemon.jpg");
  background-size: cover;
  border-radius: 8px;
  border: 1px rgb(152, 152, 152) solid;
  box-shadow: 2px 3px 10px 7px rgba(10, 0, 0, 0.3);
}

.closeModal {
  cursor: pointer;
  margin-left: 95%;
}
form label {
  margin: 5px 10px 5px 10px;
  display: block;
  font-size: 16px;
  font-weight: 700;
  color: #333;
}

form input[type="text"],
form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  opacity: 0.9;
}
form input[type="password"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  opacity: 0.9;
}
form textarea {
  height: 100px;
  resize: none;
}
form .ingredientAndAdd {
  display: flex;
  align-items: center;
  width: 60%;
}
form .ingredientAndAdd svg {
  background-color: #4caf50;
  color: white;
  padding: 1px 2px;
  border-radius: 50px;
  margin-left: 5px;
}
form .ingredientList {
  display: flex;
  flex-wrap: wrap;
}
form .ingredientAndRemove {
  display: flex;
  align-items: center;
  margin: 2px 5px;
  border: 2px #4caf50 solid;
  border-radius: 4px;
  padding: 2px;
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.9);
}
form .ingredientAndRemove .remove {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 14px;
  border: 1px solid red;
  padding: 1px 2px;
  border-radius: 54px;
  cursor: pointer;
}
.container-inputfile-title input[type="file"] {
  display: none;
}
.container-inputfile-title label {
  display: flex;
  justify-content: center;
  width: 200px;
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  margin: 8px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.imagePreview {
  width: 100%;
  max-width: 350px;
  height: 90px;
  object-fit: cover;
}
.dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #ccc;
  padding: 5px;
  width: 100%;
}
form input[type="submit"] {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 70px;
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  margin: 8px auto;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}
form .containerLabelInput {
  display: flex;
}
form .containerLabelInput label {
  width: 100px;
}
form .containerLabelInput input {
  width: 120px;
}
form .passwordMessage {
  color: red;
}

/* Media Query */
@media (max-width: 768px) {
  form .ingredientAndAdd {
    width: 85%;
  }
  .imagePreview {
    width: 80%;
    object-fit: cover;
  }
}
