header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
header {
  position: relative;
}
footer {
  margin-top: 50px;
}
.containerLogoTitle {
  display: flex;
  align-items: center;
}
.logo {
  width: 30px;
  margin-right: 10px;
}
h1 {
  text-align: center;
}
nav {
  display: flex;
  align-items: center;
}

nav button {
  text-decoration: none;
  color: #333;
  margin: 5px;
  font-size: 14px;
  text-align: center;
}

.createRecipeButton {
  width: 140px;
  background-color: #4caf50;
  display: flex;
  justify-content: center;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.createRecipeButton:hover {
  background-color: #45a049;
}
nav .search {
  background-color: black;
  padding: 5px 7px;
  border-radius: 55px;
}
nav .searchRecipeInput {
  transition: all 1s ease;
  /*   padding: 5px 20px; */
  margin: 5px 20px;
}
nav .searchRecipeInput.inactive {
  opacity: 0;
  width: 0;
  border: none;
}
nav .searchRecipeInput.active {
  width: 170px;
}

footer p {
  max-width: 500px;
  padding: 10px 0;
}
@media (max-width: 790px) {
  header,
  footer {
    flex-direction: column;
    padding: 10px 0;
    text-align: center;
  }
  .containerLogoTitle {
    margin-left: -28px;
  }
  h1 {
    font-size: 1.6em;
  }
  nav {
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  nav a {
    margin: 10px 0;
  }
  .createRecipeButton {
    width: 175px;
    padding: 15px;
    font-size: 18px;
  }
}
