.dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #4caf50;
  padding: 5px;
  width: 97.5%;
  background: white;
  opacity: 0.9;
}

.dropzone label {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 2px;
}

@media (max-width: 368px) {
  .dropzone {
    width: 95%;
  }
}
