/* CSS Reset */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}
@font-face {
  font-family: "ZillaSlab";
  src: url("./assets/fonts/Zilla_Slab/ZillaSlab-Regular.ttf") format("truetype");
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.5;
  /*   height: 100vh; */
  background-image: url("./assets/herbs.jpg");
  background-size: cover;
  font-family: "ZillaSlab", cursive;
}
h2 {
  margin-left: 25px;
  font-size: 30px;
}
/* ol,
ul {
  list-style: none;
} */

img {
  max-width: 100%;
  height: auto;
}
